In [151]:
import tensorflow as tf
from tensorflow import keras

In [152]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [153]:
import os
os.listdir()

['cleaned_titatnic_data.csv',
 'Titanic Kaggle -> Neural Netowrk Solution.ipynb',
 '.ipynb_checkpoints',
 'SubmissionNN.csv',
 'cleaned_titanic_test.csv']

In [207]:
train = pd.read_csv('cleaned_titatnic_data.csv')

In [208]:
train.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,male,Q,S
0,0,1,0,3,22.0,1,0,7.2500,1,0,1
1,1,2,1,1,38.0,1,0,71.2833,0,0,0
2,2,3,1,3,26.0,0,0,7.9250,0,0,1
3,3,4,1,1,35.0,1,0,53.1000,0,0,1
4,4,5,0,3,35.0,0,0,8.0500,1,0,1

In [209]:
y = train['Survived']

In [210]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [157]:

# Y = Y.to_numpy()
# Y[:5]

In [211]:
train.drop('Survived',axis=1,inplace=True)

In [212]:
train.head()

   Unnamed: 0  PassengerId  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0           0            1       3  22.0      1      0   7.2500     1  0  1
1           1            2       1  38.0      1      0  71.2833     0  0  0
2           2            3       3  26.0      0      0   7.9250     0  0  1
3           3            4       1  35.0      1      0  53.1000     0  0  1
4           4            5       3  35.0      0      0   8.0500     1  0  1

In [213]:
train.drop('PassengerId',axis=1,inplace=True)

In [214]:
del train['Unnamed: 0']

In [215]:
train.size

7112

In [216]:
from sklearn.model_selection import train_test_split

In [221]:
X_train,X_test,y_train,y_test = train_test_split(train,y,test_size=0.20,random_state=42)

In [222]:
X_test.shape

(178, 8)

In [223]:
X_train.shape

(711, 8)

In [224]:
y_train

707    1
239    0
381    0
791    0
682    0
      ..
106    1
270    1
860    1
435    0
102    0
Name: Survived, Length: 711, dtype: int64

In [199]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-1.58410418, -0.53498752, -0.47451561, ..., -1.40530972,
        -0.31720529,  0.61908681],
       [ 0.8122747 , -0.38534626,  0.38178033, ..., -1.40530972,
        -0.31720529, -1.61528235],
       [ 0.8122747 ,  0.21321881, -0.47451561, ...,  0.71158691,
        -0.31720529,  0.61908681],
       ...,
       [-1.58410418,  1.41034894, -0.47451561, ..., -1.40530972,
        -0.31720529,  0.61908681],
       [ 0.8122747 , -0.60980816,  1.23807626, ..., -1.40530972,
        -0.31720529,  0.61908681],
       [ 0.8122747 ,  0.28803944, -0.47451561, ...,  0.71158691,
        -0.31720529,  0.61908681]])

In [188]:
from tensorflow.keras import layers

In [257]:
def define_model():
    model = keras.models.Sequential()
    model.add(layers.Dense(16, input_dim=X_train.shape[1],kernel_initializer=init, activation='selu'))
    model.add(layers.Dense(50, activation='selu'))
#     model.add(layers.Dense(120, activation='relu'))
#     model.add(layers.Dense(50, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy',optimizer='nadam', metrics=['accuracy'])
    return model

In [258]:
model1 = define_model()

NameError: name 'init' is not defined

In [259]:
history = model.fit(X_train, y_train, epochs=20,batch_size=10,validation_split=0.1)

Epoch 1/20
64/64 [==============================] - 0s 3ms/step - loss: 3.8387 - accuracy: 0.6182 - val_loss: 3.7872 - val_accuracy: 0.6250
Epoch 2/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8395 - accuracy: 0.6182 - val_loss: 3.7916 - val_accuracy: 0.6250
Epoch 3/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8407 - accuracy: 0.6182 - val_loss: 3.7873 - val_accuracy: 0.6250
Epoch 4/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8367 - accuracy: 0.6182 - val_loss: 3.7919 - val_accuracy: 0.6250
Epoch 5/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8390 - accuracy: 0.6182 - val_loss: 3.7928 - val_accuracy: 0.6250
Epoch 6/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8398 - accuracy: 0.6182 - val_loss: 3.7910 - val_accuracy: 0.6250
Epoch 7/20
64/64 [==============================] - 0s 3ms/step - loss: 3.8384 - accuracy: 0.6182 - val_loss: 3.7949 - val_accuracy: 0.6250
Epoch 8/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8386 - accuracy: 0.6182 - val_loss: 3.8017 - val_accuracy: 0.6250
Epoch 9/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8571 - accuracy: 0.6182 - val_loss: 3.8000 - val_accuracy: 0.6250
Epoch 10/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8542 - accuracy: 0.6182 - val_loss: 3.7987 - val_accuracy: 0.6250
Epoch 11/20
64/64 [==============================] - 0s 3ms/step - loss: 3.8543 - accuracy: 0.6182 - val_loss: 3.8196 - val_accuracy: 0.6250
Epoch 12/20
64/64 [==============================] - 0s 3ms/step - loss: 3.8527 - accuracy: 0.6182 - val_loss: 3.7927 - val_accuracy: 0.6250
Epoch 13/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8480 - accuracy: 0.6182 - val_loss: 3.7926 - val_accuracy: 0.6250
Epoch 14/20
64/64 [==============================] - 0s 3ms/step - loss: 3.8529 - accuracy: 0.6182 - val_loss: 3.7944 - val_accuracy: 0.6250
Epoch 15/20
64/64 [==============================] - 0s 4ms/step - loss: 3.8543 - accuracy: 0.6182 - val_loss: 3.8327 - val_accuracy: 0.6250
Epoch 16/20
64/64 [==============================] - 0s 3ms/step - loss: 3.8619 - accuracy: 0.6182 - val_loss: 3.7962 - val_accuracy: 0.6250
Epoch 17/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8445 - accuracy: 0.6182 - val_loss: 3.7974 - val_accuracy: 0.6250
Epoch 18/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8440 - accuracy: 0.6182 - val_loss: 3.7950 - val_accuracy: 0.6250
Epoch 19/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8426 - accuracy: 0.6182 - val_loss: 3.7989 - val_accuracy: 0.6250
Epoch 20/20
64/64 [==============================] - 0s 2ms/step - loss: 3.8445 - accuracy: 0.6182 - val_loss: 3.7990 - val_accuracy: 0.6250

In [85]:
y_pred = model.predict(X_test)

In [86]:
y_test[:5]

280    0
434    1
39     1
417    0
584    1
Name: Survived, dtype: int64

In [87]:
for i, predicted in enumerate(y_pred):
    if predicted[0] > 0.5:
        
        predicted[0] = 1
    else:
        predicted[0] = 0

In [88]:
y_pred = y_pred.ravel()

In [90]:
y_pred[:5]

array([0., 1., 1., 0., 1.], dtype=float32)

In [92]:
y_test.to_numpy()[:5]

array([0, 1, 1, 0, 1])

In [93]:
test = pd.read_csv('cleaned_titanic_test.csv')

In [96]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Age          418 non-null    float64
 3   SibSp        418 non-null    int64
 4   Parch        418 non-null    int64
 5   Fare         418 non-null    float64
 6   male         418 non-null    int64
 7   Q            418 non-null    int64
 8   S            418 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

In [95]:
del test['Unnamed: 0']

In [97]:
pid = test['PassengerId']

In [100]:
test.drop('PassengerId',axis=1,inplace=True)

In [101]:
test

     Pclass   Age  SibSp  Parch      Fare  male  Q  S
0         3  34.5      0      0    7.8292     1  1  0
1         3  47.0      1      0    7.0000     0  0  1
2         2  62.0      0      0    9.6875     1  1  0
3         3  27.0      0      0    8.6625     1  0  1
4         3  22.0      1      1   12.2875     0  0  1
..      ...   ...    ...    ...       ...   ... .. ..
413       3  24.0      0      0    8.0500     1  0  1
414       1  39.0      0      0  108.9000     0  0  0
415       3  38.5      0      0    7.2500     1  0  1
416       3  24.0      0      0    8.0500     1  0  1
417       3  24.0      1      1   22.3583     1  0  0

[418 rows x 8 columns]

In [102]:
prediction = model.predict(test)

In [104]:
for i, predicted in enumerate(prediction):
    if predicted[0] > 0.5:
        
        predicted[0] = 1
    else:
        predicted[0] = 0

In [106]:
prediction = prediction.ravel()

In [108]:
prediction = prediction.astype(int)

In [109]:
prediction

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [110]:
submit = pd.Series(prediction)

In [111]:
submit

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    1
415    0
416    0
417    0
Length: 418, dtype: int64

In [112]:
submission = pd.DataFrame({'PassengerId':pid,'Survived':submit})

In [113]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [114]:
submission.to_csv('SubmissionNN.csv',index=False)